* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;
  padding-top: 10px;
}

form {
  background: linear-gradient(to top left, #3985b1 30%, #b6adb0) !important;
  display: block;
  width: 40%;
  border-radius: 5%;
  margin: auto;
  padding: 2%;
  margin-top: 5%;
}

h1,
h3,
p {
  color: #000000;
  text-align: center;
}

.form span {
  font-size: 20px;
  margin-right: 10px;
}

input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  width: 60%;
}

select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="text"]:focus,
select:focus {
  background: #d2d9dd;
}

input[type="submit"],
input[type="reset"] {
  background: #ffffff;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: #333333;
  text-align: center;
  font-size: 18px;
  margin: 5px;
}

.center {
  display: flex;
  justify-content: center;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #bdc2c5;
}
